*{
    font-family: 'Poppins', sans-serif;
}
body{
    background: lightcoral;
}
.heading{
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
