.dis-field{
    width: 470px;
    height: 70px;
    text-align: center;
    background-color: rgb(6, 6, 236);
}
input{
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(34, 33, 33);
    color: #fff;
    border-style: none;
}
#myform{
    margin-top: 20px;
    border: 1px solid green;
    width: fit-content;
    border-radius: 10px;
    position: relative;
    left: 30%;
}
h1{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
.btn1{
    background-color: rgb(70, 9, 184);
}
.btn2{
    background-color: rgb(124, 108, 15);
}
.btn3{
    background-color: rgb(4, 77, 87);
}
.btn4{
    background-color: green;
}
.btnC{
    background-color: rgb(216, 21, 37);

}